# idea
.idea
.idea/
*.iml
.DS_Store
**/.DS_Store

#deploy data

data/*
!data/.gitkeep
*-dev.yaml
*-dev.yml
app/asset/api/public
private.md
# gitlab ci
.cache

#vscode
.vscode
.vscode/

#docker
docker/data


