<!DOCTYPE html>
<html>
<head>
    <title>im前端测试</title>
    <link rel="stylesheet" href="static/css/element-ui.css">
    <link rel="stylesheet" href="static/css/common.css">
    <style>
        *{padding:0;margin:0;}
        .fl{display: flex;align-items: center;justify-content: flex-start;}
        .fc{display: flex;align-items: center;justify-content: center;}
        .fr{display: flex;align-items: center;justify-content: flex-end;}
        .btn:hover{cursor: pointer;}
        #app{display: none;}
        .chat-wrapper{position:fixed;left:50%;top:50%;transform: translate(-50%,-50%);}
        .chat{background: #f4f4f4;width:70vw;height:80vh;min-height: 500px;min-width: 600px;border-radius: 5px;border:1px solid #eee;overflow: hidden;align-items: flex-start;/*transition: all .4s cubic-bezier(.645,.045,.355,1);*/}
        .chat-nav{flex:0 0 66px;background: #66b1ff;height:100%;flex-direction: column;padding:30px 0;box-sizing: border-box;}
        .chat-nav-avatar{width:40px;height:40px;border-radius: 5px;}
        .chat-nav-item{margin-top:10px;}
        .chat-nav-item:hover{cursor: pointer;}
        .chat-social{flex:0 0 260px;width:260px;background: #f8f8f8;border-right: 1px solid #e0e0e0;height:100%;}
        .chat-msg-state{padding:0 5px;font-size:12px;color:red;}
        .chat-msg-name{font-size:14px;color:#8a8a8a;padding:2px;}
        .chat-msg-content{border-radius: 8px;padding:10px;align-items: flex-end;margin-bottom: 10px;position: relative;}
        .chat-msg-recv .chat-msg-content{background: #E5E5EA;}
        .chat-msg-send .chat-msg-content{background: #95EC69;}
        .chat-msg-avatar{width:50px;height:50px;border-radius: 10px;}
        .chat-msg-recv .chat-msg-avatar{margin-right:10px;background: #06f;}
        .chat-msg-send .chat-msg-avatar{margin-left:10px;background: #f60;}
        .chat-msg-recv .chat-msg-content::after {content: '';position: absolute;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 5px solid #E5E5EA;left: -5px;top: 8px;}
        .chat-msg-send .chat-msg-content::after {content: '';position: absolute;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #95EC69;right: -5px;top: 8px;}

        .chat-content{box-sizing: border-box;height:100%;width: 100%;position: relative;}
        .chat-content-target{border-bottom: 1px solid #ccc;flex:0 0  50px;}
        .chat-content-target-name{height:50px;padding:0 20px;}
        .chat-conv-msg{flex-grow: 1;width: 100%;}
        .chat-content-friend{height:100%;}
        .chat-content-conv{height:100%;display: flex;flex-direction: column;}
        .chat-conv-input {width: 100%;flex-grow:1;border: none;padding: 5px;resize: none;overflow-y: auto;box-sizing: border-box;white-space: pre-wrap;word-break: break-word;}
        .chat-conv-input:focus {outline: none;}
        .chat-conv-form{flex:0 0 200px;display: flex;flex-direction: column;border-top:1px solid #ccc;}
        .chat-conv-tool{flex:0 0 40px;box-sizing: border-box;padding:5px 10px;}
        .chat-conv-tool-btn{font-size: 24px;color:#444;}
        .chat-conv-tool-btn:hover{cursor: pointer;}
        .chat-conv-tool-item{margin-right:10px;}
        .social-search{padding:0 15px;height:50px;border-bottom: 1px solid #e0e0e0;}
        .friend-new{padding:10px 20px;border-bottom: 1px solid #e0e0e0;}
        .friend-new-num{flex:0 0 25px;width:25px;height:25px;background: #f56c6c;border-radius: 50%;color:#fff;font-size: 12px;}
        .friend-item{padding:10px;}
        .friend-avatar{flex:0 0 32px;margin-right:6px;border-radius: 6px;width:32px;height:32px;}
        .friend-avatar-text{font-size: 24px;background: #3a8ee6;color:#fff;}
        .friend-name{font-size: 15px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
        .friend-add-search-list{padding-top:10px;}

        .chat-friend-list .active{background: #eee;}
        .friend-detail{}
        .friend-detail-user{padding:30px;}

        .friend-detail-avatar{argin-right:6px;border-radius: 6px;width:80px;height:80px;}
        .friend-detail-avatar-text{font-size: 40px;background: #3a8ee6;color:#fff;}
        .friend-detail-name{font-size: 28px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
        .friend-detail-tochat{position: absolute;bottom:30px;left: 0;width:100%;}


        .search-result{padding:50px 30px;}

        .conv-list .active{background: #eee;}
        .conv-item{padding:10px;width:100%;}
        .conv-item:hover{cursor: pointer;}
        .conv-avatar{flex:0 0 40px;margin-right:6px;border-radius: 6px;width:40px;height:40px;}
        .conv-avatar-text{font-size: 24px;background: #3a8ee6;color:#fff;}
        .conv-content{flex-grow: 1;overflow: hidden;}
        .conv-content-top{height:25px;}
        .conv-name{font-size: 16px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
        .conv-date{font-size: 11px;color:#bbb;max-width: 70px;}
        .conv-content-bottom{height:22px;}
        .conv-chat{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-size: 12px;color:#8a8a8a;}

    </style>
</head>
<body>
<div id="app" ref="app">
    <div v-if="userInfo.id" style="position: absolute;bottom:0;text-align: center;padding:30px;width:100%;box-sizing: border-box;">当前用户：{{userInfo.phone}}</div>
    <div class="chat-wrapper">
        <div class="fl chat">
            <div class="chat-nav fl">
                <div class="chat-nav-avatar fc" style="background: red;color:#fff;">我</div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('conv')">消息</div>
                </div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('friend')">好友</div>
                </div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('group')">群组</div>
                </div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('call')">客服</div>
                </div>
                <div class="chat-nav-item" style="position: absolute;bottom:20px;">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('logout')">退出</div>
                </div>
            </div>
            <div class="chat-social">
                <div class="chat-conv" v-if="currNav == 'conv'">
                    <div class="social-search fl">
                        <el-input size="mini" prefix-icon="el-icon-search" clearable placeholder="搜索聊天" v-model="searchConvVal" style="margin-right:10px;"></el-input>
                        <el-button size="mini" circle icon="el-icon-plus" class="conv-search-add" @click="tapShowConvAdd"></el-button>
                    </div>
                    <div class="conv-list">
                        <div class="fl conv-item-wrapper" :class="{active:index == activeConvIndex}" @click="tapConvItem(index)" v-for="(item,index) in convList" :key="item.id">
                            <div class="fl conv-item" v-if="item.isShow && item.chatType == 2">
                                <img v-if="friendList[friendListIndexByUid[item.targetId]] && friendList[friendListIndexByUid[item.targetId]].friendAvatarImg" :src="friendList[friendListIndexByUid[item.targetId]].friendAvatarImg" class="conv-avatar"  />
                                <div class="conv-avatar conv-avatar-text fc" v-if="friendList[friendListIndexByUid[item.targetId]] && !friendList[friendListIndexByUid[item.targetId]].friendAvatarImg">{{friendList[friendListIndexByUid[item.targetId]].friendName.substring(0,1).toUpperCase()}}</div>
                                <div class="conv-content">
                                    <div class="fb conv-content-top">
                                        <div class="conv-name" v-if="friendList[friendListIndexByUid[item.targetId]]">{{friendList[friendListIndexByUid[item.targetId]].friendAlias ? friendList[friendListIndexByUid[item.targetId]].friendAlias : friendList[friendListIndexByUid[item.targetId]].friendName}}</div>
                                        <div class="conv-date">{{formatConvTime(item.lastAt)}}</div>
                                    </div>
                                    <div class="fl conv-content-bottom">
                                        <div class="conv-chat" v-if="activeConvIndex !== index && item.inputMsg"><span style="color:red;padding-right:4px;">[草稿]</span>{{item.inputMsg}}</div>
                                        <div class="conv-chat" v-if="item.lastMsg">{{item.lastMsg.msgContent}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-friend" v-if="currNav == 'friend'">
                    <div class="social-search fl">
                        <el-input size="mini" prefix-icon="el-icon-search" clearable placeholder="搜索好友" v-model="searchFriendVal" ref="searchFriendVal" style="margin-right:10px;"></el-input>
                        <el-button size="mini" circle icon="el-icon-plus" class="conv-search-add" @click="tapShowFriendAdd"></el-button>
                    </div>
                    <div class="fb btn friend-new" @click="tapShowFriendNewApply">
                        <div class="fl friend-new-text">新朋友</div>
                        <div class="fc friend-new-num" v-if="unreadNewFriendApply > 0">{{unreadNewFriendApply > 99 ? '99+':unreadNewFriendApply}}</div>
                    </div>
                    <div class="chat-friend-list">
                        <div class="fl btn friend-item" :class="{active:activeFriendIndex === index}" v-for="(item,index) in friendListCpd" :key="item.id" @click="tapFriendItem(index)">
                            <img :src="item.friendAvatarImg" class="friend-avatar" v-if="item.friendAvatarImg" />
                            <div class="friend-avatar friend-avatar-text fc" v-if="!item.friendAvatarImg">{{item.friendName.substring(0,1).toUpperCase()}}</div>
                            <div class="friend-name">{{item.friendAlias ? item.friendAlias : item.friendName}}</div>
                        </div>
                    </div>
                </div>
                <div class="chat-group" v-if="currNav == 'group'">
                    群组
                </div>
                <div class="chat-call" v-if="currNav == 'call'">
                    客服
                </div>
            </div>
            <div class="chat-content">
                <div class="chat-content-conv" v-if="currNav == 'conv' && activeConvIndex > -1">
                    <div class="fb chat-content-target">
                        <div class="fl chat-content-target-name">房东十分大</div>
                    </div>
                    <div class="chat-conv-msg">
                        <div class="chat-msg-item" v-for="item in convList[activeConvIndex].msgContent">
                            <div class="chat-msg-avatar"></div>
                            <div class="chat-msg-wrapper">
                                <div class="fl chat-msg-name">对方名字</div>
                                <div class="fl chat-msg-content">item.msgContent</div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-conv-form">
                        <div class="fb chat-conv-tool">
                            <div class="fl">
                                <div class="chat-conv-tool-item"><i class="el-icon-picture-outline chat-conv-tool-btn"></i></div>
                                <div class="chat-conv-tool-item"><i class="el-icon-chat-dot-round chat-conv-tool-btn"></i></div>
                            </div>
                            <div class="fl">
                                <div style="color:#ccc;font-size: 14px;">使用Enter键发送消息</div>
                            </div>
                        </div>
                        <div class="chat-conv-input" contenteditable="true" placeholder="按回车键可以发送"  @input="chatInputUpdate"  @keydown="chatInputEnter" ref="chatInput"></div>
                    </div>
                </div>
                <div class="chat-content-friend" v-if="currNav == 'friend'">
                    <div class="friend-detail" v-if="currFriendDetail.id">
                        <div class="fl friend-detail-user">
                            <img v-if="currFriendDetail.friendAvatarImg" :src="currFriendDetail.friendAvatarImg" class="friend-detail-avatar"  />
                            <div v-else class="friend-detail-avatar friend-detail-avatar-text fc" >{{currFriendDetail.friendName.substring(0,1).toUpperCase()}}</div>
                            <i v-if="currFriendDetail.friendSexEm == 2" class="el-icon-user-solid" style="margin-left:10px;font-size: 32px;color:#f37e7d;"></i>
                            <i v-if="currFriendDetail.friendSexEm == 1" class="el-icon-user-solid" style="margin-left:10px;font-size: 32px;color:#45b6ef;"></i>
                            <i v-if="currFriendDetail.friendSexEm == 0" class="el-icon-user-solid" style="margin-left:10px;font-size: 32px;color:#ccc;"></i>
                            <div class="friend-detail-name">{{currFriendDetail.friendAlias ? currFriendDetail.friendAlias : currFriendDetail.friendName}}</div>
                        </div>
                        <div class="fc friend-detail-tochat"><el-button type="primary" @click="tapCreateConv">发消息</el-button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <el-dialog title="添加好友"  :close-on-click-modal="false" :visible.sync="showAddFriendDialog" width="500">
        <div class="fl friend-add-dialog-search">
            <el-input size="mini" prefix-icon="el-icon-search" ref="searchNewFriendVal" clearable @keyup.enter.native="tapFriendAddSearch" placeholder="搜索好友" v-model="searchNewFriendVal" style="margin-right:10px;"></el-input>
            <el-button size="mini"  type="primary" class="conv-search-add" @click="tapFriendAddSearch">搜索</el-button>
        </div>
        <div class="friend-add-search-list">
            <div class="friend-list">
                <div class="fb friend-item" v-for="item in friendAddSearchList" :key="item.id">
                    <div class="fl">
                        <img :src="item.friendAvatarImg" class="friend-avatar" v-if="item.friendAvatarImg" />
                        <div class="friend-avatar friend-avatar-text fc" v-if="!item.friendAvatarImg">{{item.nickname.substring(0,1).toUpperCase()}}</div>
                        <div class="friend-name">{{item.nickname}}</div>
                    </div>
                    <el-tag effect="plain" class="btn" v-if="item.stateEm == 0" @click="tapCreateAddFriendApply(item)">添加</el-tag>
                    <el-tag effect="plain" class="btn" v-if="item.stateEm == 1" @click="tapCreateAddFriendApply(item)">待验证</el-tag>
                    <el-tag type="warning"  v-if="item.stateEm == 99" >本人</el-tag>
                    <el-tag type="success" effect="plain" v-if="item.stateEm == 2">好友</el-tag>
                    <el-tag type="info" class="btn" v-if="item.stateEm == -2"  @click="tapCreateAddFriendApply(item)">对方拒绝</el-tag>
                </div>
                <div class="fc search-result" v-if="friendAddSearchListState != ''">
                    <div v-loading="loading" class="fc search-loading" v-if="friendAddSearchListState == 'loading'"></div>
                    <div class="fc" v-if="friendAddSearchListState == 'none'">未搜索到信息</div>
                </div>

            </div>
        </div>
    </el-dialog>

    <el-dialog title="好友申请列表"  :close-on-click-modal="false" :visible.sync="friendNewApplyShow" width="500">
        <div class="friend-add-search-list" v-infinite-scroll="getRecvFriendApplyList" infinite-scroll-disabled="recvFriendApplyListState != '' && recvFriendApplyListState != 'error'">
            <div class="friend-list">
                <div class="fb friend-item" v-for="(item,index) in recvFriendApplyList" :key="item.id">
                    <div class="fl">
                        <img :src="item.friendAvatarImg" class="friend-avatar" v-if="item.userAvatarImg" />
                        <div class="friend-avatar friend-avatar-text fc" v-if="!item.userAvatarImg">{{item.userName.substring(0,1).toUpperCase()}}</div>
                        <div class="friend-name">{{item.userName}}</div>
                    </div>
                    <div class="fr" v-if="item.stateEm == 1">
                        <el-tag effect="plain" class="btn" @click="tapOperateFriendApply(index,1)">通过</el-tag>
                        <el-tag type="danger" style="margin-left:10px;" effect="plain" class="btn"  @click="tapOperateFriendApply(index,-1)">拒绝</el-tag>
                    </div>

                    <el-tag effect="plain" type="success"  v-if="item.stateEm == 2">已通过</el-tag>
                    <el-tag effect="plain" type="info" v-if="item.stateEm == -2">已拒绝</el-tag>
                </div>
                <div class="fc search-result" v-if="recvFriendApplyListState != ''">
                    <div v-loading="loading" class="fc search-loading" v-if="recvFriendApplyListState == 'loading'"></div>
                    <div class="fc" v-if="recvFriendApplyListState == 'none'">未查询到信息</div>
                </div>

            </div>
        </div>
    </el-dialog>
</div>
<script src="static/js/vue.js"></script>
<script src="static/js/element.js"></script>
<script src="static/js/axios.js"></script>
<script src="static/js/tool.js"></script>
<script src="static/js/request.js"></script>
<script>
    const MsgClasEmNewFriendApply = 4
    const MsgClasEmNewFriendOperated = 5
    var apiImUrl = "http://localhost:8812"
    var apiUserUrl = "http://localhost:8801"
    var wsUrl = "http://localhost:8808"
    var appToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjQxMzMzMjYsImlhdCI6MTcxODA4NTMyNiwicGxhdENsYXNFbSI6MSwicGxhdElkIjoiMSJ9.bvUAW1KWYTZOy2VEyfmSYKRpXYkYS5h0lRfiUQgYxL0'
    new Vue({
        el: '#app',
        data() {
            return {
                headers:{
                    token:'',
                    Authorization:appToken
                },
                userInfo:{},
                conn:null,
                connHeartT:null,
                connectState:0,
                userToken:'',
                currNav:'conv',
                searchConvVal:'',
                convList:[],
                activeConvIndex:-1,
                activeFriendIndex:-1,
                searchFriendVal:'',
                searchNewFriendVal:'',
                currFriendDetail:{},
                friendList:[],
                friendListIndexByUid:{},
                showAddFriendDialog:false,
                friendAddSearchList:[],
                friendAddSearchListState:'',
                friendNewApplyShow:false,
                recvFriendApplyList:[],
                recvFriendApplyListState:'',
                recvFriendApplyListNextPage:1,
                unreadNewFriendApply:0,

                searchGroupVal:'',
                groupList:[],
                showAddGroupDialog:false,
                groupAddSearchList:[],
                groupAddSearchListShowNone:false,

            }
        },
        created(){
            this.login()
        },
        mounted() {
            this.$refs.app.style.display = "block"
        },
        beforeDestroy() {
        },
        methods:{
            login(){
                let urlParams = new URLSearchParams(window.location.search);
                if (!urlParams.get('token')) {
                    tool.toastError("缺少token")
                    return
                }
                this.headers.token = urlParams.get('token')
                this.getUserInfo()
                this.getMyFriendList()
                this.getMyConvList()
                this.getMySysMsgUnreadList()
                this.connectWs()

            },
            connectWs(){
                this.conn = new WebSocket(wsUrl +"/ws",this.headers.token);
                this.conn.onopen = ()=>{
                    this.connectState = 2
                    clearInterval(this.connHeartT);
                    this.connHeartT = setInterval(()=>{
                        this.heartPing()
                    },300*1000)
                }
                this.conn.onclose = ()=>{
                    this.connectState = -1
                };
                this.conn.onmessage = (e)=> {
                    let msg = JSON.parse(e.data);
                    switch (msg.frameType) {
                        case 9:
                            tool.toastError(msg.data.msg)
                            break
                        case 0:
                            this.recvMsgHanler(msg)
                    }

                };
                this.conn.onerror = function (evt) {
                    console.error(evt.message,evt.reason,evt.code)
                };

            },
            heartPing(){
                let msgData = {"frameType":1}
                if (this.conn.readyState === WebSocket.OPEN) {
                    this.sendMsg(msgData)
                } else {
                    // WebSocket 已关闭或正在关闭，重新连接
                    this.connectWs();
                    // 等待连接成功后再发送消息
                    setTimeout(() => this.sendMsg(msgData), 3000);
                }
                // 重连机制不知道怎么才好，现在写的都有瑕疵，会重复定时器
                // let msgData = {"frameType":1}
                // if (this.conn.readyState === WebSocket.OPEN) {
                //     this.conn.send(JSON.stringify(msgData));
                // } else if (this.conn.readyState === WebSocket.CONNECTING) {
                //     // 如果 WebSocket 正在连接中，稍后再尝试发送消息
                //     setTimeout(() => this.sendMsg(msgData), 5000);
                // } else {
                //     // WebSocket 已关闭或正在关闭，重新连接
                //     this.connectWs();
                //     // 等待连接成功后再发送消息
                //     setTimeout(() => this.sendMsg(msgData), 5000);
                // }
            },
            sendMsg(msgData){
                this.conn.send(JSON.stringify(msgData));
            },
            recvMsgHanler(msg){
                if (!msg.data) return console.log("异常消息：",msg)
                switch (msg.data.msgClas){
                    case MsgClasEmNewFriendApply: //新好友申请
                        this.recvMsgNewFriendApply()
                    case MsgClasEmNewFriendOperated:
                        this.recvFriendApplyOperated(msg.data)
                }
            },
            recvMsgNewFriendApply(){
                this.getMySysMsgUnreadList()
            },
            recvFriendApplyOperated(data){
                this.getMyFriendList()
            },
            tapNav(nav){
                if (nav == "logout"){
                    location.href="./home.html"
                    return
                }
                this.currNav = nav
            },
            getMyConvList(){
                request({
                    url:apiImUrl + '/im/v1/conversation/getConversationList',
                    headers:this.headers,
                }).then(res=>{
                    let convList = []
                    for (let k in res.conversations){
                        let conv = res.conversations[k]
                        conv.msgContent = []
                        convList.push(conv)
                    }
                    this.convList = convList
                })
            },
            tapShowConvAdd(){

            },
            sendChatMsg(){
                console.log('send')
                let content = this.$refs.chatInput.innerText.trim()
                this.$refs.chatInput.innerText = ''
                this.convList[this.activeConvIndex].inputMsg = ''
                let data = {
                    id: "1",
                    method: "conversation.chat",
                    data: {
                        chatType: 2,
                        recvId:this.convList[this.activeConvIndex].friendUid,
                        msg: {
                            content: content
                        }
                    }
                }
                this.sendMsg(data)
            },
            tapFriendItem(index){
                this.activeFriendIndex = index
                this.currFriendDetail = this.friendList[index]
            },
            chatInputUpdate(e){
                this.convList[this.activeConvIndex].inputMsg = e.target.innerText;
            },
            tapConvItem(index){
                this.activeConvIndex = index
                this.$nextTick(()=>{
                    if (this.convList[index].inputMsg) {
                        this.$refs.chatInput.innerText = this.convList[index].inputMsg
                        if (this.$refs.chatInput.innerText !== '')this.moveCursorToEnd(this.$refs.chatInput);
                    }

                    this.$refs.chatInput.focus();
                })

            },
            tapCreateConv(){
                this.currNav = "conv"
                this.tapConvByFriend(this.currFriendDetail)
                request({
                    url:apiImUrl + '/im/v1/conversation/setUpUserConversation',
                    headers:this.headers,
                    data:{
                        recvId:this.currFriendDetail.friendUid,
                        chatType:2,
                    }
                }).then(res=>{

                })

            },
            chatInputEnter(e){
                if (e.key === 'Enter') {
                    if (e.altKey || e.ctrlKey || e.shiftKey || e.metaKey) {
                        // 插入换行
                        document.execCommand('insertLineBreak');
                        e.preventDefault();
                    } else {
                        // 发送消息
                        e.preventDefault();
                        this.sendChatMsg();
                    }
                }
            },
            // 将光标移动到 contenteditable 元素的末尾
            moveCursorToEnd(element) {
                if (document.createRange && window.getSelection) {
                    const range = document.createRange();
                    const selection = window.getSelection();

                    range.selectNodeContents(element);
                    range.collapse(false); // false 表示将光标放在内容末尾

                    selection.removeAllRanges();
                    selection.addRange(range);
                } else {
                    // 兼容 IE9 和老旧浏览器
                    const range = document.body.createTextRange();
                    range.moveToElementText(element);
                    range.collapse(false);
                    range.select();
                }
            },
            tapConvByFriend(friendInfo){
                let findIndex = this.convList.findIndex(obj => obj.friendUid === friendInfo.friendUid);
                if (findIndex !== -1) {
                    // 将目标对象从数组中删除
                    let [targetObj] = this.convList.splice(findIndex, 1);
                    // 将目标对象插入到数组的第一个位置
                    this.convList.unshift(targetObj);
                } else {
                    this.convList.unshift({
                        friendUid:friendInfo.friendUid,
                        friendSexEm:friendInfo.friendSexEm,
                        friendAlias:friendInfo.friendAlias,
                        friendIcon:friendInfo.friendIcon,
                        friendName:friendInfo.friendName,
                        inputMsg:''
                    });
                }
                this.$nextTick(()=>{
                    this.tapConvItem(0)
                })
            },
            getMySysMsgUnreadList(){
                request({
                    url:apiImUrl + '/im/v1/sysMsg/getMySysMsgUnreadNum',
                    headers:this.headers,
                }).then(res=>{
                    this.unreadNewFriendApply = res.unread && res.unread[4] ? res.unread[4] : 0
                })
            },
            getUserInfo(){
                request({
                    url:apiUserUrl + '/user/v1/getMyUserMainInfo',
                    headers:this.headers,
                }).then(res=>{
                    this.userInfo = res

                })
            },
            getMyFriendList(){
                request({
                    url:apiImUrl + '/social/v1/friend/getMyFriendList',
                    headers:this.headers,
                }).then(res=>{
                    this.friendList = res.list
                    this.friendList.forEach((v,k)=>{
                        console.log(v)
                        this.friendListIndexByUid[v.friendUid] = k
                    })
                })
            },
            setNewFriendApplyRead(){
                request({
                    url:apiImUrl + '/im/v1/sysMsg/setMySysMsgReadByClas',
                    headers:this.headers,
                    data:{
                        msgClasEms:[MsgClasEmNewFriendApply],
                    }
                }).then(res=>{
                    this.unreadNewFriendApply = 0
                })
            },
            tapShowFriendNewApply(){
                this.friendNewApplyShow = true
                this.getRecvFriendApplyList(true)
            },
            getRecvFriendApplyList(isReload){
                if (isReload){
                    this.recvFriendApplyListNextPage = 1
                    this.recvFriendApplyList = []
                }
                this.friendAddSearchListState = "loading"
                request({
                    url:apiImUrl+'/social/v1/friend/getMyFriendApplyRecvPage',
                    headers:this.headers,
                    data:{
                        page:this.recvFriendApplyListNextPage,
                        size:20,
                    }
                }).then(res=>{
                    this.recvFriendApplyList = res.list
                    for (let i=0;i<res.list.length;i++){
                        if (res.list[i].stateEm == 1) { //存在未处理再消除已读
                            this.setNewFriendApplyRead()
                            break;
                        }
                    }
                    if (this.recvFriendApplyList.length == 0){
                        this.recvFriendApplyListState = 'none'
                    } else if(res.list.length == 0) {
                        this.recvFriendApplyListState = 'end'
                    } else {
                        this.recvFriendApplyListState = ''
                        this.recvFriendApplyListNextPage++
                    }
                }).catch(err=>{
                    this.recvFriendApplyListState = 'error'
                })
            },
            tapShowFriendAdd(){
                this.showAddFriendDialog = true
                this.searchNewFriendVal = ''
                this.friendAddSearchList = []
                this.friendAddSearchListState = ''
                this.$nextTick(()=>{
                    this.$refs.searchNewFriendVal.focus()
                })

            },
            tapFriendAddSearch(){
                if (this.searchNewFriendVal.trim() == '') return;
                this.friendAddSearchListState = "loading"
                request({
                    url:apiImUrl+'/social/v1/friend/searchNewFriendPage',
                    headers:this.headers,
                    data:{
                        keyword:this.searchNewFriendVal
                    }
                }).then(res=>{
                    this.friendAddSearchList = res.list
                    if (this.friendAddSearchList.length == 0){
                        this.friendAddSearchListState = 'none'
                    } else if(res.list.length == 0) {
                        this.friendAddSearchListState = 'end'
                    } else {
                        this.friendAddSearchListState = ''
                    }
                }).catch(err=>{
                    this.friendAddSearchListState = 'error'
                })

            },
            tapOperateFriendApply(index,state){
                if (state == 1) {
                    this.operateFriendApply(index,{
                        applyId:this.recvFriendApplyList[index].id,
                        operateStateEm:2,
                    })
                } else {
                    this.$prompt('请输入拒绝原因', '拒绝好友申请-'+this.recvFriendApplyList[index].userName, {
                        confirmButtonText: '提交',
                        cancelButtonText: '取消',
                        closeOnClickModal: false
                    }).then(({ value }) => {
                        this.operateFriendApply(index,{
                            applyId:this.recvFriendApplyList[index].id,
                            operateStateEm:-2,
                            operateMsg:value
                        })
                    })
                }
            },
            operateFriendApply(index,data){
                request({
                    url:apiImUrl+'/social/v1/friend/operateMyRecvFriendApply',
                    headers:this.headers,
                    loading:'提交中',
                    data
                }).then(res=>{
                    this.recvFriendApplyList[index].stateEm = data.operateStateEm
                    tool.toastSucc('提交成功')
                    if (data.operateStateEm == 2) {
                        this.getMyFriendList()
                    }
                })
            },
            tapCreateAddFriendApply(friend){
                this.$prompt('请输入验证消息', '添加好友申请-'+friend.nickname, {
                    confirmButtonText: '提交',
                    cancelButtonText: '取消',
                    closeOnClickModal: false
                }).then(({ value }) => {
                    request({
                        url:apiImUrl+'/social/v1/friend/createFriendApply',
                        headers:this.headers,
                        loading:'提交中',
                        data:{
                            applyMsg:value,
                            friendUid:friend.id,
                            sourceEm:1,// 1根据手机号搜索
                        }
                    }).then(res=>{
                        tool.toastSucc('提交成功')
                    })
                }).catch(() => {

                });

            },
            formatConvTime(timestamp){
                const inputDate = new Date(timestamp * 1000); // 将时间戳从秒转换为毫秒
                const now = new Date();

                const inputDay = inputDate.getDate();
                const inputMonth = inputDate.getMonth() + 1;
                const inputYear = inputDate.getFullYear();

                const nowDay = now.getDate();
                const nowMonth = now.getMonth() + 1;
                const nowYear = now.getFullYear();

                const inputHours = inputDate.getHours().toString().padStart(2, '0');
                const inputMinutes = inputDate.getMinutes().toString().padStart(2, '0');

                // Same day
                if (inputYear === nowYear && inputMonth === nowMonth && inputDay === nowDay) {
                    return `${inputHours}:${inputMinutes}`;
                }

                // Yesterday
                const yesterday = new Date(now);
                yesterday.setDate(nowDay - 1);
                if (inputYear === yesterday.getFullYear() && inputMonth === (yesterday.getMonth() + 1) && inputDay === yesterday.getDate()) {
                    return `昨天 ${inputHours}:${inputMinutes}`;
                }

                // Other years
                if (inputYear !== nowYear) {
                    return `${inputYear}年${inputMonth}月${inputDay}日`;
                }

                // Other days in current year
                return `${inputMonth}月${inputDay}日`;
            }
        },
        computed:{
            friendListCpd(){
                let list = []
                this.friendList.forEach(item=>{
                    list.push(item)
                })
                return list
            },
            convListCpd(){
                let list = []
                this.friendList.forEach(item=>{
                    item.friendDate = '2014/05/01'
                    item.lastChat = '弗拉加经理看手机啊弗兰克经理卡就哭了经理卡看了'
                })
                return this.friendList
            }
        }
    })
</script>
</body>
</html>