<!DOCTYPE html>
<html>
<head>
    <title>im前端测试</title>
    <link rel="stylesheet" href="static/css/element-ui.css">
    <link rel="stylesheet" href="static/css/common.css">
    <style>
        *{padding:0;margin:0;}
        .fl{display: flex;align-items: center;justify-content: flex-start;}
        .fc{display: flex;align-items: center;justify-content: center;}
        .fr{display: flex;align-items: center;justify-content: flex-end;}
        .btn:hover{cursor: pointer;}
        #app{display: none;}
        .chat-wrapper{position:fixed;left:50%;top:50%;transform: translate(-50%,-50%);}
        .chat{background: #f4f4f4;width:70vw;height:40vh;min-height: 500px;min-width: 600px;border-radius: 5px;border:1px solid #eee;overflow: hidden;/*transition: all .4s cubic-bezier(.645,.045,.355,1);*/}
        .chat-nav{flex:0 0 66px;background: #66b1ff;height:100%;flex-direction: column;padding:30px 0;box-sizing: border-box;}
        .chat-nav-avatar{width:40px;height:40px;border-radius: 5px;}
        .chat-nav-item{margin-top:10px;}
        .chat-nav-item:hover{cursor: pointer;}
        .chat-social{flex:0 0 260px;width:260px;background: #f8f8f8;border-right: 1px solid #e0e0e0;height:100%;}


        .social-search{padding:10px 15px;border-bottom: 1px solid #e0e0e0;}
        .friend-new{padding:10px 20px;border-bottom: 1px solid #e0e0e0;}
        .friend-new-num{flex:0 0 25px;width:25px;height:25px;background: #f56c6c;border-radius: 50%;color:#fff;font-size: 12px;}
        .friend-item{padding:10px;}
        .friend-avatar{flex:0 0 32px;margin-right:6px;border-radius: 6px;width:32px;height:32px;}
        .friend-avatar-text{font-size: 24px;background: #3a8ee6;color:#fff;}
        .friend-name{font-size: 15px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
        .friend-add-search-list{padding-top:10px;}


        .search-result{padding:50px 30px;}

        .conv-item{padding:10px;}
        .conv-item:hover{cursor: pointer;}
        .conv-avatar{flex:0 0 40px;margin-right:6px;border-radius: 6px;width:40px;height:40px;}
        .conv-avatar-text{font-size: 24px;background: #3a8ee6;color:#fff;}
        .conv-content{flex-grow: 1;overflow: hidden;}
        .conv-content-top{height:25px;}
        .conv-name{font-size: 16px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
        .conv-date{font-size: 11px;color:#bbb;max-width: 70px;}
        .conv-content-bottom{height:22px;}
        .conv-chat{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-size: 12px;color:#8a8a8a;}
    </style>
</head>
<body>
<div id="app" ref="app">
    <div class="chat-wrapper">
        <div class="fl chat">
            <div class="chat-nav fl">
                <div class="chat-nav-avatar fc" style="background: red;color:#fff;">我</div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('conv')">消息</div>
                </div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('friend')">好友</div>
                </div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('group')">群组</div>
                </div>
                <div class="chat-nav-item">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('call')">客服</div>
                </div>
                <div class="chat-nav-item" style="position: absolute;bottom:20px;">
                    <div style="background: #ff6600;font-size: 12px;padding:5px;" @click="tapNav('logout')">退出</div>
                </div>
            </div>
            <div class="chat-social">
                <div class="chat-conv" v-if="currNav == 'conv'">
                    <div class="social-search fl">
                        <el-input size="mini" prefix-icon="el-icon-search" clearable placeholder="搜索聊天" v-model="searchConvVal" style="margin-right:10px;"></el-input>
                        <el-button size="mini" circle icon="el-icon-plus" class="conv-search-add" @click="tapShowConvAdd"></el-button>
                    </div>
                    <div class="conv-list">
                        <div class="fl conv-item" v-for="item in friendListCpd" :key="item.id">
                            <img :src="item.friendAvatarImg" class="conv-avatar" v-if="item.friendAvatarImg" />
                            <div class="conv-avatar conv-avatar-text fc" v-if="!item.friendAvatarImg">{{item.friendName.substring(0,1).toUpperCase()}}</div>
                            <div class="conv-content">
                                <div class="fb conv-content-top">
                                    <div class="conv-name">{{item.friendAlias ? item.friendAlias : item.friendName}}</div>
                                    <div class="conv-date">{{item.friendDate}}</div>
                                </div>
                                <div class="fl conv-content-bottom">
                                    <div class="conv-chat">{{item.lastChat}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-friend" v-if="currNav == 'friend'">
                    <div class="social-search fl">
                        <el-input size="mini" prefix-icon="el-icon-search" clearable placeholder="搜索好友" v-model="searchFriendVal" ref="searchFriendVal" style="margin-right:10px;"></el-input>
                        <el-button size="mini" circle icon="el-icon-plus" class="conv-search-add" @click="tapShowFriendAdd"></el-button>
                    </div>
                    <div class="fb btn friend-new" @click="tapShowFriendNewApply">
                        <div class="fl friend-new-text">新朋友</div>
                        <div class="fc friend-new-num" v-if="friendNewNum > 0">{{friendNewNum > 99 ? '99+':friendNewNum}}</div>
                    </div>
                    <div class="friend-list">
                        <div class="fl btn friend-item" v-for="item in friendListCpd" :key="item.id">
                            <img :src="item.friendAvatarImg" class="friend-avatar" v-if="item.friendAvatarImg" />
                            <div class="friend-avatar friend-avatar-text fc" v-if="!item.friendAvatarImg">{{item.friendName.substring(0,1).toUpperCase()}}</div>
                            <div class="friend-name">{{item.friendAlias ? item.friendAlias : item.friendName}}</div>
                        </div>
                    </div>
                </div>
                <div class="chat-group" v-if="currNav == 'group'">
                    群组
                </div>
                <div class="chat-call" v-if="currNav == 'call'">
                    客服
                </div>
            </div>
            <div id="chat-content">
                <div id="chat-target"></div>
                <form id="form" style="display: none;">
                    <input type="submit" value="Send" />
                    <input type="text" id="msg" size="64" autofocus />
                </form>
            </div>
        </div>
    </div>
    <el-dialog title="添加好友"  :close-on-click-modal="false" :visible.sync="showAddFriendDialog" width="500">
        <div class="fl friend-add-dialog-search">
            <el-input size="mini" prefix-icon="el-icon-search" ref="searchNewFriendVal" clearable @keyup.enter.native="tapFriendAddSearch" placeholder="搜索好友" v-model="searchNewFriendVal" style="margin-right:10px;"></el-input>
            <el-button size="mini"  type="primary" class="conv-search-add" @click="tapFriendAddSearch">搜索</el-button>
        </div>
        <div class="friend-add-search-list">
            <div class="friend-list">
                <div class="fb friend-item" v-for="item in friendAddSearchList" :key="item.id">
                    <div class="fl">
                        <img :src="item.friendAvatarImg" class="friend-avatar" v-if="item.friendAvatarImg" />
                        <div class="friend-avatar friend-avatar-text fc" v-if="!item.friendAvatarImg">{{item.nickname.substring(0,1).toUpperCase()}}</div>
                        <div class="friend-name">{{item.nickname}}</div>
                    </div>
                    <el-tag effect="plain" class="btn" v-if="item.stateEm == 0" @click="tapCreateAddFriendApply(item)">添加</el-tag>
                    <el-tag effect="plain" class="btn" v-if="item.stateEm == 1" @click="tapCreateAddFriendApply(item)">待验证</el-tag>
                    <el-tag type="warning"  v-if="item.stateEm == 99" >本人</el-tag>
                    <el-tag type="success" effect="plain" v-if="item.stateEm == 2">好友</el-tag>
                    <el-tag type="info" v-if="item.stateEm == -2">黑名单</el-tag>
                </div>
                <div class="fc search-result" v-if="friendAddSearchListState != ''">
                    <div v-loading="loading" class="fc search-loading" v-if="friendAddSearchListState == 'loading'"></div>
                    <div class="fc" v-if="friendAddSearchListState == 'none'">未搜索到信息</div>
                </div>

            </div>
        </div>
    </el-dialog>

    <el-dialog title="好友申请列表"  :close-on-click-modal="false" :visible.sync="friendNewApplyShow" width="500">
        <div class="friend-add-search-list" v-infinite-scroll="getRecvFriendApplyList" infinite-scroll-disabled="recvFriendApplyListState != '' && recvFriendApplyListState != 'error'">
            <div class="friend-list">
                <div class="fb friend-item" v-for="(item,index) in recvFriendApplyList" :key="item.id">
                    <div class="fl">
                        <img :src="item.friendAvatarImg" class="friend-avatar" v-if="item.userAvatarImg" />
                        <div class="friend-avatar friend-avatar-text fc" v-if="!item.userAvatarImg">{{item.userName.substring(0,1).toUpperCase()}}</div>
                        <div class="friend-name">{{item.userName}}</div>
                    </div>
                    <div class="fr" v-if="item.stateEm == 1">
                        <el-tag effect="plain" class="btn" @click="tapOperateFriendApply(index,1)">通过</el-tag>
                        <el-tag type="danger" style="margin-left:10px;" effect="plain" class="btn"  @click="tapOperateFriendApply(index,-1)">拒绝</el-tag>
                    </div>

                    <el-tag effect="plain" type="success"  v-if="item.stateEm == 2">已通过</el-tag>
                    <el-tag effect="plain" type="info" v-if="item.stateEm == -2">已拒绝</el-tag>
                </div>
                <div class="fc search-result" v-if="recvFriendApplyListState != ''">
                    <div v-loading="loading" class="fc search-loading" v-if="recvFriendApplyListState == 'loading'"></div>
                    <div class="fc" v-if="recvFriendApplyListState == 'none'">未查询到信息</div>
                </div>

            </div>
        </div>
    </el-dialog>
</div>
<script src="static/js/vue.js"></script>
<script src="static/js/element.js"></script>
<script src="static/js/axios.js"></script>
<script src="static/js/tool.js"></script>
<script src="static/js/request.js"></script>
<script>
    var apiUrl = "http://localhost:8812"
    var wsUrl = "http://localhost:8808"
    var appToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjQxMzMzMjYsImlhdCI6MTcxODA4NTMyNiwicGxhdENsYXNFbSI6MSwicGxhdElkIjoiMSJ9.bvUAW1KWYTZOy2VEyfmSYKRpXYkYS5h0lRfiUQgYxL0'
    new Vue({
        el: '#app',
        data() {
            return {
                headers:{
                    token:'',
                    Authorization:appToken
                },
                conn:null,
                connHeartT:null,
                connectState:0,
                userToken:'',
                currNav:'friend',
                searchConvVal:'',
                convList:[],
                searchFriendVal:'',
                searchNewFriendVal:'',
                friendList:[],
                showAddFriendDialog:false,
                friendAddSearchList:[],
                friendAddSearchListState:'',
                friendNewNum:10,
                friendNewApplyShow:false,
                recvFriendApplyList:[],
                recvFriendApplyListState:'',
                recvFriendApplyListNextPage:1,

                searchGroupVal:'',
                groupList:[],
                showAddGroupDialog:false,
                groupAddSearchList:[],
                groupAddSearchListShowNone:false,

            }
        },
        created(){
            this.login()

        },
        mounted() {
            this.$refs.app.style.display = "block"
        },
        beforeDestroy() {
        },
        methods:{
            login(){
                let urlParams = new URLSearchParams(window.location.search);
                if (!urlParams.get('token')) {
                    tool.toastError("缺少token")
                    return
                }
                this.headers.token = urlParams.get('token')
                this.getMyFriendList()
                this.connectWs()

            },
            connectWs(){
                this.conn = new WebSocket(wsUrl +"/ws",this.headers.token);
                this.conn.onopen = ()=>{
                    this.connectState = 2
                    this.connHeartT = setInterval(()=>{
                        this.heartPing()
                    },300*1000)
                }
                this.conn.onclose = ()=>{
                    this.connectState = -1
                };
                this.conn.onmessage = (e)=> {
                    let msg = JSON.parse(e.data);
                    switch (msg.frameType) {
                        case 9:
                            tool.toastError(msg.data.msg)
                            break
                        case 0:
                            this.recvMsgHanler(msg)
                    }

                };
                this.conn.onerror = function (evt) {
                    console.error(evt.message,evt.reason,evt.code)
                    alert("websocket 连接失败")
                };
            },
            heartPing(){
              this.conn.send(JSON.stringify({"frameType":1}))
            },
            sendMsg(msgData){
                this.conn.send(JSON.stringify(msgData))
            },
            recvMsgHanler(msg){
                switch (msg.msgClas){
                    case 4: //新好友申请
                        this.recvMsgNewFriendApply()
                }
            },
            recvMsgNewFriendApply(){
                request({
                    url:apiUrl + '/social/v1/friend/getMyFriendList',
                    headers:this.headers,
                }).then(res=>{
                    this.friendList = res.list
                })
            },
            tapNav(nav){
                if (nav == "logout"){
                    location.href="./home.html"
                    return
                }
                this.currNav = nav
            },
            getMyConvList(){

            },
            tapShowConvAdd(){

            },
            getMyFriendList(){
                request({
                    url:apiUrl + '/social/v1/friend/getMyFriendList',
                    headers:this.headers,
                }).then(res=>{
                    this.friendList = res.list
                })
            },
            tapShowFriendNewApply(){
                this.friendNewApplyShow = true
                this.getRecvFriendApplyList(true)
            },
            getRecvFriendApplyList(isReload){
                if (isReload){
                    this.recvFriendApplyListNextPage = 1
                    this.recvFriendApplyList = []
                }
                this.friendAddSearchListState = "loading"
                request({
                    url:apiUrl+'/social/v1/friend/getMyFriendApplyRecvPage',
                    headers:this.headers,
                    data:{
                        page:this.recvFriendApplyListNextPage,
                        size:20,
                    }
                }).then(res=>{
                    this.recvFriendApplyList = res.list
                    if (this.recvFriendApplyList.length == 0){
                        this.recvFriendApplyListState = 'none'
                    } else if(res.list.length == 0) {
                        this.recvFriendApplyListState = 'end'
                    } else {
                        this.recvFriendApplyListState = ''
                        this.recvFriendApplyListNextPage++
                    }
                }).catch(err=>{
                    this.recvFriendApplyListState = 'error'
                })
            },
            tapShowFriendAdd(){
                this.showAddFriendDialog = true
                this.searchNewFriendVal = ''
                this.friendAddSearchList = []
                this.friendAddSearchListState = ''
                this.$nextTick(()=>{
                    this.$refs.searchNewFriendVal.focus()
                })

            },
            tapFriendAddSearch(){
                if (this.searchNewFriendVal.trim() == '') return;
                this.friendAddSearchListState = "loading"
                request({
                    url:apiUrl+'/social/v1/friend/searchNewFriendPage',
                    headers:this.headers,
                    data:{
                        keyword:this.searchNewFriendVal
                    }
                }).then(res=>{
                    this.friendAddSearchList = res.list
                    if (this.friendAddSearchList.length == 0){
                        this.friendAddSearchListState = 'none'
                    } else if(res.list.length == 0) {
                        this.friendAddSearchListState = 'end'
                    } else {
                        this.friendAddSearchListState = ''
                    }
                }).catch(err=>{
                    this.friendAddSearchListState = 'error'
                })

            },
            tapOperateFriendApply(index,state){
                if (state == 1) {
                    this.operateFriendApply(index,{
                        applyId:this.recvFriendApplyList[index].id,
                        operateStateEm:2,
                    })
                } else {
                    this.$prompt('请输入拒绝原因', '拒绝好友申请-'+this.recvFriendApplyList[index].userName, {
                        confirmButtonText: '提交',
                        cancelButtonText: '取消',
                        closeOnClickModal: false
                    }).then(({ value }) => {
                        this.operateFriendApply(index,{
                            applyId:this.recvFriendApplyList[index].id,
                            operateStateEm:-2,
                            operateMsg:value
                        })
                    })
                }
            },
            operateFriendApply(index,data){
                request({
                    url:apiUrl+'/social/v1/friend/operateMyRecvFriendApply',
                    headers:this.headers,
                    loading:'提交中',
                    data
                }).then(res=>{
                    this.recvFriendApplyList[index].stateEm = data.operateStateEm
                    tool.toastSucc('提交成功')
                })
            },
            tapCreateAddFriendApply(friend){
                this.$prompt('请输入验证消息', '添加好友申请-'+friend.nickname, {
                    confirmButtonText: '提交',
                    cancelButtonText: '取消',
                    closeOnClickModal: false
                }).then(({ value }) => {
                    request({
                        url:apiUrl+'/social/v1/friend/createFriendApply',
                        headers:this.headers,
                        loading:'提交中',
                        data:{
                            applyMsg:value,
                            friendUid:friend.id,
                            sourceEm:1,// 1根据手机号搜索
                        }
                    }).then(res=>{
                        tool.toastSucc('提交成功')
                    })
                }).catch(() => {

                });

            }
        },
        computed:{
            friendListCpd(){
                let list = []
                this.friendList.forEach(item=>{
                    list.push(item)
                })
                return list
            },
            convListCpd(){
                let list = []
                this.friendList.forEach(item=>{
                    item.friendDate = '2014/05/01'
                    item.lastChat = '弗拉加经理看手机啊弗兰克经理卡就哭了经理卡看了'
                })
                return this.friendList
            }
        }
    })
</script>
</body>
</html>